.image{
    width: 150px;
    height: 70px;
}

.titre{
    text-align: center;
}

.sujet {
    text-align:right;
}
.form-control{
    height: 100px;

    margin-left: 1px;
}

.tt{
    height: 700px;
}