

<div class="card m-3">
    <img src="./assets/img/logo.jpg" class="image" >
    
    <div class="card-body">
        <form >
            <div class="form-row" class="titre">
                <h1>مذكرة</h1>
            </div>
                <div class="form-row">
                  <div class="col">
                    <input type="text" lang="ar" dir="rtl" class="form-control"
                     placeholder="الموضوع">
                  </div>
                  <div class="col" class="sujet">
                    <h3> الموضوع </h3>
                  </div>
                </div>

                <div class="form-row">
                    <div class="col">
                      <input type="text" lang="ar" dir="rtl" class="form-control" 
                      placeholder="المرفقات">
                    </div>
                    <div class="col" class="sujet">
                      <h3> المرفقات  </h3>
                    </div>
                  </div>

                  <div class="form-row" class="tt">
                        <textarea lang="ar" 
                         dir="rtl" formControlName="title" class="tt"  >
                         </textarea>
                    
                </div>

                <div class="text-center">
                  <input type = "button" class="btn btn-primary mr-1" value = "telecharger pdf"  (click) = "captureScreen ()"/>
                  <button class="btn btn-primary mr-1" (click)="suivant()">Suivant</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                
              </div>
                 
            
              

                </form>


        </div>
</div>