.image{
    width: 150px;
    height: 70px;
}

.titre{
    text-align: center;
}

.sujet {
    margin-top: 80px;
    text-align:right;
}
.form-control{
    height: 50px;
    width: 170px;
    margin-left: 70px;   
}
.form{
margin-left: 100px;
}

.note{
    text-align: right;
}

.tt{padding: 0 0 600px 0;
  
    height: 700px;
    width: 1000px;
    
}

.d{
   
    margin-left: 750px;
}
.e{
    
    margin-left: 717px;
}
.f{
    margin-left: 720px;
}
.table{
    margin-top: 70px;
}
.y{
    margin-left: 100px;
}

.right{
    text-align: right;
}