<div class="card m-3">
       <table >
        <tr>
        <td>
    <img src="./assets/img/logo.jpg" class="image" > </td>

    <td><div class="right">
    <h5 lang="ar" dir="rtl">الجمهورية التونسية</h5>
    <label>  وزارة التنمية و الإستثمار و التعاون الدولي   </label>
    <h5 lang="ar" dir="rtl">المعهد الوطني للإحصاء</h5>
</div>
</td>
</tr>
 </table>
   
    
    <div class="card-body">
       
            <div class="form-row" class="titre">
                <h1 lang="ar" dir="rtl">وصل</h1>
                <h1 lang="ar" dir="rtl"> في تسلم إدارة المواصفات والتنسيق الإحصائي </h1>
                <h1 lang="ar" dir="rtl">و التعاون الدولي لوثائق مأمورية</h1>
            </div>

                <div class="note">
                <table class="table table-bordered">
                    <tr>
                     
                        <td colspan="3">
                            <h4 >القائمة بمهمة تتعلق بالمشاركة في </h4>
                        <td> <input type="text" lang="ar" dir="rtl" class="form-control"
                            placeholder=" السيد(ة)">
                           </td>
                        <td>
                    <h4 class="y"> يشهد   المدير   المركزي   للنشر   و   الإعلامية   و   التنسيق   ،   أن   السيد(ة) </h4>
                        </td>
                </tr>
                <tr>  <td><input type="date"></td>
                    
                    <td>إلى</td>
                    <td>
                        <input type="date">
                    </td>
                    <td>والذي إنعقد خلال الفترة من </td>
                    <td>
                        <input type="text" lang="ar" dir="rtl" class="form"
                            placeholder=" السيد(ة)">
                  
                        </td>
                       
                         </tr>
                        </table>

                    </div>
                      
                 
                </div>
           
               

                
                       
                    
             

                <div class="text-center">
                  <button class="btn btn-primary mr-1">telecharger PDf</button>
                  <button class="btn btn-primary mr-1" (click)="suivant()">Suivant</button>
                  <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                
              </div>
                 
            
              

                


        </div>
