.image{
    width: 150px;
    height: 70px;
}

.titre{
    text-align: center;
}
.s{
    margin-left: 4px;
}
.e{
    
    margin-left: 460px;
}
.note{
    text-align: right;
}

.h{
    margin-left: 515px;

}
.sujet {
    text-align:right;
}
.form-control{
    width: 300px;
    height: 30px;
   margin-left: 400px;
}

.number{
    width: 40px;
   
    
}
.label{
    margin-left: 210px;
}

.check{
    margin-left: 210px;
}

.c{
    margin-left: 120px;
}

.d{
    padding: 0 0 70px 0;
    width: 600px;
    height: 90px;
}

.tabrir{
    padding: 0 0 450px 0;
    width: 1050px;
    height: 500px;

}