<div class="card m-3">
    <table >
     <tr>
     <td>
 <img src="./assets/img/logo.jpg" class="image" > </td>
 <td>
    <div class="right">
 <h5  lang="ar" dir="rtl">الجمهورية التونسية</h5>
 <label >  وزارة التنمية و الإستثمار و التعاون الدولي   </label>
 <h5 lang="ar" dir="rtl">المعهد الوطني للإحصاء</h5>
    </div>
</td>
</tr>
</table>

<div class="card-body">

    <div class="form-row" class="titre">
        <h2 lang="ar" dir="rtl">مذكرة  </h2>
        <h2 lang="ar" dir="rtl"> حول إعداد تقرير مهمة بالخارج </h2>
     
    </div>
    </div>
   
    <div class="card-body">
        <table class="table table-bordered" >
            <tr> 
              <td> <input type="text" class="form-control" placeholder="................"
                lang="ar" dir="rtl" > 
            </td>
               <h4 class="right">  : المديرية المركزية   </h4>
          </tr>
          <tr>
            <td> <input type="text" class="form-control" placeholder="................"
              lang="ar" dir="rtl" > </td>
            <h4 class="right">: المشارك   </h4>
          </tr>
        </table>


<div class="right">
    <h4>تبعا للمأمورية التي قمتم بها</h4>
</div>
   

            <table class="table table-bordered" >
    <tr> 
      <td> <input type="text" class="form-control" placeholder="................"
        lang="ar" dir="rtl" > 
    </td>
       <h4 class="right">  : الموضوع  </h4>
  </tr>
  <tr>
    <td> <input type="text" class="form-control" placeholder="................"
      lang="ar" dir="rtl" > </td>
    <h4 class="right">: مكان المهمة  </h4>
  </tr>
  <tr>
    <td> <input type="date" class="form-control" placeholder="................"
      lang="ar" dir="rtl" > </td>
    <h4 class="right">: تاريخ الذهاب   </h4>
  </tr>
  <tr>
    <td> <input type="date" class="form-control" placeholder="................"
      lang="ar" dir="rtl" > </td>
    <h4 class="right">: تاريخ الإياب </h4>
  </tr>
</table>

<div class="right">
    <label  lang="ar" dir="rtl"> 
        إنكم مدعوون إلى إعداد تقرير ، في مدة لاتتجاوز 7 أيام من تاريخ عودتكم إلى أرض الوطن،
        حسب الأنموذج الي يمكن تحميله عبر الرابط http://intranet/services/modelmission.doc بموقع الأنترنات للمعهد ممضى من قبل 
        المدير المركزي الراجع لكم بالنظر(*) .
</label>
  <label lang="ar" dir="rtl">  ومد إدارة التنسيق الإحصائي و التعاون الدولي ب:  
   </label>
</div>


 <div class="right">
   <h6  lang="ar" dir="rtl"> 
    1.سبعة(7)نسخ ورقية من التقرير كالتالي:
</h6>
</div>


<div class="right">
<label  lang="ar" dir="rtl">
   -نسختان مرفوقتان بالملاحق :
</label>
   </div>
  

<div class="right">
   <label  lang="ar" dir="rtl">
     *ملحق 1:جدول أعمال المهمة، 
    </label>
   </div>
  

<div class="right">
   <label  lang="ar" dir="rtl">
    *ملحق 2:قائمة في الوثائق الفنية المتحصل عليها خلال المهمة، لتوجيهها إلى الإدارة العامة
    وتوثيقها بالمعهد ،
   </label>
</div>

<div class="right">
    <label  lang="ar" dir="rtl">
    -أربع (4) نسخ بدون ملاحق لتوجيهها إلى وزارة الإشراف و الوزارة الأولى،
</label>
</div>

<div class="right">
    <label  lang="ar" dir="rtl">
    -نسخة لمصلحة الميزانية و المحاسبة بالمعهد
</label>
</div>

<div class="right">
    <h6 lang="ar" dir="rtl">
    -نسخة من التقرير و الملاحق مسجلة على حامل مغناطيسي أو يتم إرسالها إلى الآنسة فتحية
    بن أحمد ، المكلفة بملفات المهمات بالخارج عبر البريد الإلكتروني benahmed.fathia@gmail.com، 
    </h6>
</div>


<div class="right">
    <label  lang="ar" dir="rtl">
    -نسخة من الوثائق الفنية.
</label>
</div>

<div class="right">
    <h6  lang="ar" dir="rtl">
    2. نسخة (1) من إذن المأمورية بالخارج.
    </h6>
</div>

<div class="right">
<h6 lang="ar" dir="rtl">
    ملاحظة:</h6>

    <label lang="ar" dir="rtl">
        وفي حال الإلتزام بكل الإجراءات السابق ذكرها، يتسلم القائمون بالمهمة وصلا في 
    الغرض من الإدارة المكلفة بالتعاون الدولي تمكنهم من تسلم القسط الباقي من منحة المأمورية.
    </label>        

</div>


<div class="right">
    <h6 lang="ar" dir="rtl">
        إمضاء المدير المدير المركزي
        </h6>
        </div>

        <div class="sign">
            <h6 lang="ar" dir="rtl">
                الإمضاء
                </h6>
                </div>
            </div>


                <div class="card-footer">
                    <div class="right">
                    <h6 lang="ar" dir="rtl" >
                        (*)يقوم المدير المركزي بالإطلاع و معاينة تقرير المأمورية.
                        </h6>
                       
                </div>
                </div>

  



</div>
<div class="text-center">
    <button class="btn btn-primary mr-1">telecharger PDf</button>
    <button class="btn btn-primary mr-1"  (click)="suivant()">Suivant</button>
    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
  
</div>