.image{
    width: 150px;
    height: 70px;
}

.titre{
    text-align: center;
}
.right{
    text-align: right;
}

.number{
    width: 50px;
    
}

.centre{
    text-align: center;
}
.date{
    width: 150px;
}
.form-control{
        width: 300px;
        height: 30px;
       margin-left: 400px;
    }

.sign{
margin-left: 100px;
}