<div class="card m-3">
    <h5 class="card-header">Dossier de Visite</h5>
    <div class="card-body">
        <form >
            <div class="form-row">
                <div class="form-group col-2">
                    <label>Date</label>
                    <input type="date" formControlName="title" class="form-control" >
                </div>

                <div class="form-group col-3">
                    <label>Direction Centrale</label>
                    <input type="text" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
                <div class="form-group col-3">
                    <label>Nature</label>
                    <input type="text" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
                <div class="form-group col-4">
                    <label>Statut</label>
                    <input type="text" formControlName="lastName" class="form-control" 
                     />
                   
                </div>
            </div>

            <div class="form-row">
            <div class="form-group col-5">
                <label>Organisme etrangére</label>
                <select type="text" formControlName="email" class="form-control" 
                 >
                </select>
            </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>Programmme de coopération</label>
                    <input type="password" formControlName="password" class="form-control"/>
                </div>  
            </div>
            
            <div class="form-row">
                <div class="form-group col">
                    <label>Sujet</label>
                    <input type="password" formControlName="password" class="form-control"/>
                </div>  

            </div>

            <div class="form-row">
                <div class="form-group col-4">
                    <label>Pays de destination</label>
                    <input type="text" formControlName="title" class="form-control" >
                </div>

                <div class="form-group col-4">
                    <label>Ville de destination</label>
                    <input type="text" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
                <div class="form-group col-4">
                    <label>Langues de travail</label>
                    <input type="text" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
            </div>

                
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Date de début</label>
                    <input type="date" formControlName="title" class="form-control" >
                </div>

                <div class="form-group col-4">
                    <label>Date de fin </label>
                    <input type="date" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
                <div class="form-group col-4">
                    <label>Date limite de réponse</label>
                    <input type="date" formControlName="firstName" class="form-control" 
                     />
                   
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nbre participants</th>
                    <th scope="col"> </th>
                    <th scope="col">Prise en charge</th>
                    <th scope="col">Organisme Etrangere</th>
                    <th scope="col">Ins</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                  </tr>
                 
                  
                    
                </tbody>
              </table>


              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Nbre participants</th>
                     <th colspan="3"  class="titre"> Historique
                        <tr>
                            <th class="cl"> 2017</th>
                            <th class="cl">2018</th>
                            <th class="cl">2019</th>
                        </tr>    
                        </th>
                    <th scope="col">Prise en charge</th>
                    <th scope="col">Organisme Etrangere</th>
                    <th scope="col">Ins</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th><input type="text" class="form-control"></th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th><input type="text" class="form-control"></th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th><input type="text" class="form-control"></th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th><input type="text" class="form-control"></th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                  <tr>
                    <th><input type="text" class="form-control"></th>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                  </tr>
                 
                  
                    
                </tbody>
              </table>







            <div class="text-center">
                <button class="btn btn-primary mr-1">telecharger PDf</button>
                <button class="btn btn-primary mr-1" (click)="suivant()">Suivant</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
              
                

                
            </div>
        </form>
    </div>
</div>