
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">   

<div class='hero'>
  <div class="hero-one"></div>
  <div class="hero-two"></div>
  <h1 class="header-title">
     <span class="header-primary">Login</span>
     <input type='text' placeholder='Username' 
         placeholder="User Name" required
         class='input-line full-width'>
        
        <input type='password' placeholder='Password' type="password" placeholder="Password"  
        
         name="password" required 
        class='input-line full-width'>
        
        <button class='ghost-round full-width' >Login</button>
        
     <span class="header-sub">and the underground secrets</span></h1>
</div>