<div class="card m-3">
    <table >
     <tr>
     <td>
 <img src="./assets/img/logo.jpg" class="image" > </td>
 <td>
    <div class="right">
 <h5 class="d" lang="ar" dir="rtl">الجمهورية التونسية</h5>
 <label class="e">  وزارة التنمية و الإستثمار و التعاون الدولي   </label>
 <h5 class="f" lang="ar" dir="rtl">المعهد الوطني للإحصاء</h5>
    </div>
</td>
</tr>
</table>

<div class="card-body">

    <div class="form-row" class="titre">
        <h2 lang="ar" dir="rtl">جدول الوثائق الموجهة </h2>
        <h2 lang="ar" dir="rtl"> إلى </h2>
        <h2 lang="ar" dir="rtl">السيد وزير التنمية و الإستثمار و التعاون الدولي</h2>
    </div>
    </div>
    <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="titre" > الملاحظات </th>
                    
                    <th class="titre"> عدد الوثائق</th>
                    <th class="right"   class="titre">بيان الوثائق</th>
                    <th class="right">العدد الرتبي</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                      <td> <textarea  class="form-control" lang="ar" dir="rtl">
                        </textarea>
                      </td>
                      <td class="centre" > <input type="number" class="number">  </td>
                      <td class="right">
                        <label >
                       : تقرير مهمة قاما بها
                      </label>
                      <input type="text" class="form-control" lang="ar" dir="rtl">
                      <input type="text" class="form-control" lang="ar" dir="rtl">
                      
                        <label >
                            تتعلق بالمشاركة في و ذلك خلال الفترة من
                      </label>
                      <input type="date" class="form-control" lang="ar" dir="rtl">
                      <label >
                        إلى
                  </label>
                  <input type="date" class="form-control" lang="ar" dir="rtl">
                      <td></td>
                      
                      

                  </tr>
                  <tr>

                   <td></td>
                   <td class="centre" > <input type="number" class="number">  </td>
                   <td class="titre" colspan="2">
                    <label >
                        الجملة
                  </label>
                </td>
                  
                  </tr>
                  
                   
                    
                </tbody>
              </table>
              <div class="right">
                      <input type="date" class="date" lang="ar" dir="rtl">
                      <label>توصلت بالوثائق المذكورة أعلاه
                        تونس،في
                         </label>
                    </div>
            </div>