.image{
    width: 150px;
    height: 70px;
}
.d{
   
    margin-left: 750px;
}
.e{
    
    margin-left: 717px;
}
.f{
    margin-left: 720px;
}

.titre{
    text-align: center;
}
.right{
    text-align: right;
}

.number{
    width: 50px;
    
}

.centre{
    text-align: center;
}
.date{
    width: 150px;
}